<div class="container p-4">

  <h1 class="cursive text-center m-4">{{title}}</h1>

  <div class="mb-0 mt-5">
    <div class="row g-2 justify-content-center">
      <div class="col-md-3 mb-3">
        <img class="img-fluid rounded-start" src="assets/img/{{img}}" alt="{{title}} Bar">
      </div>

      <div class="col-md-9">
        <div class="card-body small pt-0">
          <h5 class="card-title">
            Eum ipsam laborum deleniti <b>velit pariatur architecto aut nihil</b>
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit.
          </p>
          <p>
            <i>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </i>
          </p>
          <ul>
            <li>Ullamco laboris nisi ut aloquip ex ea commodo consequat.</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li>Ullamco laboris nisi ut aloquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul>
          <p>
            Ullamco laboris nisi ut aloquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptatevelit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat oupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light p-5">
  <h1 class="cursive text-center">Why choose us</h1>

  <div class="container py-3">
    <div class="row g-4 row-cols-1 row-cols-md-3">
      
      <div class="feature col">
        <p class="muted m-0">01</p> 
        <h2>Lorem ipsum</h2>
        <p>Ullamco laboris nisi ut aloquip ex ea commodo consequat. Et consectetur ducimus vero placeat.</p>
      </div>
      
      <div class="feature col">
        <p class="muted m-0">02</p> 
        <h2>Repellat Nihil</h2>
        <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest.</p>
      </div>

      <div class="feature col"> 
        <p class="muted m-0">03</p>  
        <h2>Ad ad velit qui</h2>
        <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis.</p>
      </div>
    </div>
  </div>

</div>

