<div class="hero-img">
  <div class="bg-dim px-3 py-5">
    <div class="text-center text-white py-md-5">
      <!-- Ristorante Il Gambero Rosso -->
      <h1 class="cursive">{{title}}</h1>
      <p>{{slogan}}</p>
      <p>
        <!-- Button Our Menu -->
        <a class="btn btn-sm btn-success m-1" 
        routerLink="/menu">{{menuBtn}}</a>
        <!-- Button Book a Table -->
        <a class="btn btn-sm btn-success m-1" 
        routerLink="/table">{{tableBtn}}</a>
      </p>
    </div>
  </div>
</div>