<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">

    <!-- Navbar Logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/img/logo.png" width="100" height="55" alt="{{title}}">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"  id="navbarNavAltMarkup">

      <!-- Navbar Links -->
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        <a class="nav-link" routerLink="/about">About us</a>
        <a class="nav-link" routerLink="/menu">Menu</a>
        <!-- <a class="nav-link" routerLink="/specials">Specials</a> -->
        <a class="nav-link" routerLink="/cart">Cart</a>
        <!-- <a class="nav-link" routerLink="/reviews">Reviews</a> -->
        <!-- <a class="nav-link" routerLink="/contact">Contact</a> -->
      </div>
    </div>

  </div>
</nav>