<h1 class="my-4 cursive text-center">Our Specials</h1>

<div class="container max-w">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mb-5">

    <div class="col" *ngFor="let dish of dishes; index as dishID">
      <div class="card">
        <img src="/assets/img/{{dish.image}}" alt="{{dish.name}}" class="card-img-top">
        <div class="card-body">
          <h3>{{dish.name}}</h3>
          <p>{{dish.desc}}</p>
          <p class="my-3">{{dish.price | currency:"EUR":"symbol"}}</p>
          <a routerLink="dishes/{{dishID}}">
          <button class="btn btn-sm btn-primary me-2" type="submit" *ngIf="dish.available == true" >Details</button></a>
          <button class="btn btn-sm btn-success" type="submit" *ngIf="dish.available == true" (click)="addToCart(dish)" data-bs-toggle="modal" data-bs-target="#orderModal">Order</button>
          <p class="text-danger mb-1" *ngIf="dish.available == false">This dish is not available</p>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- onSubmit Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Cart updated</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body border-0">
        Dish has been added to cart.
      </div>
    </div>
  </div>
</div>